<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="community/fragments :: head">
    <meta charset="UTF-8"/>
    <title>About</title>
</head>
<body>
<nav th:replace="community/fragments :: navigation"></nav>
<nav th:replace="community/fragments :: navigation2"></nav>

<h1 th:text="${title}">Default Title</h1>

<h3>For the Betterment of the Community Model Here</h3>
<h3>Planning Process Here</h3>

<a href="/view/seos">| SEO | </a><a href="/view/teamMembers">Team Members | </a><a href="/partners">Partners |</a>
<h4>Counters go here</h4>

</body>
</html>