<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="community/fragments :: head" >
    <title>Contact Us</title>
</head>

<body>

<div>
    <nav th:replace="community/fragments :: navigation"></nav>
</div>

<div>
    <nav th:replace="community/fragments :: navigation2"></nav>
</div>


<h1 th:text="${title}">Default Title</h1>

<p th:unless="${contacts} and ${contacts.size()}">no contacts :(</p>

<table>
    <tr th:each="contact : ${contacts}">
        <td th:text="${contact.name}"></td>
    </tr>
</table>

</body>
</html>