<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="community/fragments :: head" >
    <title>Team Members</title>
</head>

<body>

<div>
    <nav th:replace="community/fragments :: navigation"></nav>
</div>

<div>
    <nav th:replace="community/fragments :: navigation2"></nav>
</div>

<h1 th:text="${title}">Default Title</h1>

<p th:unless="${teamMs} and ${teamMs.size()}">no active members :(</p>
<table>

    <tr>
        <th>Full Name</th>
        <th>Phone Number</th>
        <th>Email</th>
        <th>Sponsered SEOs</th>
    </tr>
    <tr th:each="team : ${teamMs}">
        <a href=""><td th:text="${team.name}"></td></a>
        <td th:text="${team.number}"></td>
        <td th:text="${team.email}"></td>
        <td th:text="${team.seos}"></td>
    </tr>
</table>


</body>
</html>