<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="community/fragments :: head">
    <title>Register Your SEO</title>
</head>
<body>
    <div>
        <nav th:replace="community/fragments :: navigation"></nav>
    </div>
    <div>
        <nav th:replace="community/fragments :: navigation2"></nav>
    </div>

    <h1 th:text="${title}">Default Title</h1>

    <form method="post" th:object="${seo}" class="needs-validation">
        <div class="form-row">

            <div class="col-md-4 mb-3">
                <label th:for="name">SEO Name</label>
                <input class="form-control" placeholder="SEO Name" th:field="*{name}"/>
                <span th:errors="*{name}" class="error"></span>
            </div>

            <div class="col-md-4 mb-3">
                <label th:for="highName">Name of Your High School</label>
                <input class="form-control" placeholder="High School Name" th:field="*{highName}"/>
                <span th:errors="*{highName}" class="error"></span>
            </div>

            <div class="form-group col-md-4">
                <label th:for="teamMs">Sponser</label>
                <select th:field="*{teamMs}"  class="form-control">
                    <option th:each="team : ${teamMs}" th:value="${team.id}" th:text="${team.name}"></option>
                </select>
            </div>

            <input type="submit" class="btn btn-primary mb-2" value="Submit Request" />

        </div>
    </form>
</body>
</html>