<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="admin/fragments :: head">
    <title>Our Funders</title>
</head>
<body>
<div>
    <nav th:replace="admin/fragments :: navigation"></nav>
</div>
<div>
    <nav th:replace="admin/fragments :: navigation2"></nav>
</div>

<h1 th:text="${title}">Default Title</h1>

<p th:unless="${funders} and ${funders.size()}">no partners :(</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone Number</th>
        </tr>
    </thead>
    <tbody>
        <tr scope="row" th:each="funder : ${funders}">
            <td th:text="${funder.name}"></td>
            <td th:text="${funder.email}"></td>
            <td th:text="${funder.number}"></td>
        </tr>
    </tbody>
</table>

</body>
</html>