<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Our Funders</title>
</head>
<body>
<div>
    <nav th:replace="admin/fragments :: navigation"></nav>
</div>
<div>
    <nav th:replace="admin/fragments :: navigation2"></nav>
</div>

<h1 th:text="${title}">Default Title</h1>

<p th:unless="${funders} and ${funders.size()}">no partners :(</p>
<table>
    <tr th:each="funder : ${funders}">
        <td th:text="${funder.name}"></td>
        <td th:text="${funder.email}"></td>
        <td th:text="${funder.number}"></td>
    </tr>
</table>

</body>
</html>