<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="admin/fragments :: head">
    <meta charset="UTF-8"/>
    <title>Home</title>
</head>
<body>
<div>
    <nav th:replace="admin/fragments :: navigation"></nav>
</div>
<div>
    <nav th:replace="admin/fragments :: navigation2"></nav>
</div>

<h1 th:text="${title}">Default Title</h1>

<h1>Recent Blog Post Here</h1>

<h2>Student Empowerment Organization Request</h2>
<p th:unless="${seos} and ${seos.size()}">no seo requests :(</p>

    <form method="post" th:object="${seo}">

        <table class="table">
            <thead>

                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">High School Name</th>
                    <th scope="col">Submit</th>
                </tr>

            </thead>
            <tbody>
                <tr scope="row" th:each="seo : ${seos}">
                    <td th:text="${seo.name}"></td>
                    <td th:text="${seo.highName}"></td>
                    <input type="hidden" name="seoId" th:value="${seo.id}"/>
                    <td><input type="submit" class="btn btn-primary mb-2" name="b1" value="Approve and Proceed" /></td>
                </tr>
            </tbody>
        </table>
    </form>

<h2>Partner Request</h2>
<p th:unless="${partners} and ${partners.size()}">no partner requests :(</p>

<form method="post" th:object="${partner}">
    <table class="table">

        <tr>
            <th scope="col">Name</th>
            <th scope="col">Business or Individual</th>
            <th scope="col">Industry</th>
            <th scope="col">Description</th>
            <th scope="col">Submit</th>
        </tr>

        <tr scope="row" th:each="partner : ${partners}">
            <td th:text="${partner.name}"></td>
            <td th:text="${partner.who.name}"></td>
            <td th:text="${partner.industry}"></td>
            <td th:text="${partner.description}"></td>
            <input type="hidden" name="partnerId" th:value="${partner.id}"/>
            <td><input type="submit" class="btn btn-primary mb-2" name="b2" value="Approve" /></td>
        </tr>

    </table>
</form>

<a href="/admin/register/team">| Register a Team Member | </a><a href="/register/seo">Register Your SEO | </a><a href="register/partner">Register a Partner |</a>

</body>
</html>